body {
  background: #333;
  color: #EEE;
}
h1 {
  color: #5596C8;
}
h2, h3, h4, h5, h6 {
  color: #EEE;
}

.ch-topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #222;
  top: 0;
}
.ch-logo a {
  font-weight: bolder;
}
.ch-menu img {
  width: 26px;
}
.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 2em;
  background: #222;
  height: 32px;
}
.bottom ul {
  display: inline-block;
}
.bottom li {
  text-align: center;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  padding: 0;
}
.bottom li a {
  float: left;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}
.bottom li a:hover {
  background-color: transparent;
}
.bottom ul li a {
  padding: 0;
}
.ch-bottom-bar {
  padding: 0;
  height: 32px;
  margin: 0;
}
.ch-bottom-bar li {
  padding: 0;
  margin: 0;
  display: inline;
}
.ch-button-column {
  padding: 60px 20px;
}
.readme {
  padding: 60px 20px;
}
.readme p {
  color: #CCC;
}
.readme pre code {
  background: #EEE;
  color: #333;
  display: block;
  overflow: auto;
  border: 3px double #CCC;
  padding: 10px;
}
.readme h3 code {
  padding: 4px;
  color: #5596C8;
}
.ch-relay-count {
  float: right;
  margin: 0;
  text-align: right;
  padding-top: 5px;
}

.relay {
  background: #EEE;
  color: #333;
  display: block;
  padding-left: 0;
  list-style: none;
}
.relay li {
  position: relative;
  display: block;
  float: none;
  margin: 0;
}
.relay a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-bottom: 2px solid #337AB7;
}
.relay a:hover {
  text-decoration: none;
  background-color: #337AB7;
  color: #EEE;
  border-color: #000;
}
.black-that-text {
  color: #333;
}


.ink-button:hover, .ink-button:active {
  background: #EEE;
  border-color: #5596C8;
  color: #5596C8;
}
.ink-button, .ink-button {
  background: #5596C8;
  border-color: #EEE;
  color: #EEE;
}

.ch-logo-twitter {
  background-image: url('../img/twitter.png');
}
.ch-logo-github {
  background-image: url('../img/github.png');
}
.ch-logo-patreon {
  background-image: url('../img/patreon.png');
}
.ch-logo-onion {
  background-image: url('../img/onion.png');
}
.ch-logo-email {
  background-image: url('../img/email.png');
}
.ch-logo-twitter:hover {
  background-image: url('../img/twitter_hover.png');
}
.ch-logo-github:hover {
  background-image: url('../img/github_hover.png');
}
.ch-logo-patreon:hover {
  background-image: url('../img/patreon_hover.png');
}
.ch-logo-onion:hover {
  background-image: url('../img/onion_hover.png');
}
.ch-logo-email:hover {
  background-image: url('../img/email_hover.png');
}


.ink-navigation ul.menu.black {
  background: #222;
}
.ink-navigation ul.menu.black li a:hover {
  background: #337AB7;
}
.ink-navigation ul.menu.black li.ch-logo a:hover {
  background: #222;
}
.ink-navigation ul.menu.black li a {
  color: #EEE;
}

@media screen and (max-width: 640px) and (min-width: 321px) {
  .small-100 .ch-button-column, .tiny-100 .ch-button-column {
  margin-top: 120px;
  }
}
