@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
html {
  background: #333333;
  color: #EEEEEE;
}
body {
	background: #333333;
}
h1, h2, h3, h4, h5 {
	color: #EEEEEE;
  font-family: 'Roboto Condensed', sans-serif !important;
}
hr {
	border-color: #333333;
}
.logo {
  margin: auto;
  height: 304px;
  width: 304px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #EEE;
}
.menu li {
  display: inline;
}
.menu li h2 {
  display: inline;
}
.menu li a:hover {
  text-decoration: none;
  background: #AAA;
  color: #333;
  border-radius: 5px 5px 0px 0px;
}
.menu li a {
  padding: 5px;
  color: #EEE;
}
.menu li.active a {
  color: #333;
  background: #EEE;
  border-radius: 5px 5px 0px 0px;
}
.ch-info {
    text-align: center;
}
.ch-content {
	padding-top: 62px;
}
.ch-project-description {
	color: #EEEEEE;
}
.github-section {
  text-align: right;
}
.github-link {
  color: #5596C8;
  background-color: #333;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid #5596C8;
}
.github-link:hover {
  color: #EEE;
  background: #5596C8;
  border-color: #EEE;
  text-decoration: none;
}
.console {
  font-family:Courier;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 10px;
}
.warning {
  color: #D80000
}
.nav {
  padding-left: 0;
  list-style: none;
}
.nav:after {
  clear: both;
}
.nav:before, .nav:after {
  display: table;
  content: " ";
}
.nav-stacked > li {
  float: none;
}
.nav-pills > li {
  position: relative;
  display: block;
}
.nav-pills > li > a {
  border-bottom: 2px solid #337AB7;
}
.nav-pills > li > a:hover {
  border-color: #000;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #EEE;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #337AB7;
  color: #EEE;
}
.black-that-text {
  color: #000;
}
.social-btn {
  height: 20px;
  font: 700 11px/14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: 4px;
}
.social-btn a {
  background-color: #EEE;
  background-image: linear-gradient(to bottom, #FCFCFC 0, #EEE 100%);
  background-repeat: no-repeat;
  border: 1px solid #D5D5D5;
  padding: 2px 5px 2px 4px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFF;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
}
.social-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-top: -4px;
}
.flattr-btn {
	    
}
