<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>coldhak</title>
  <meta name="description" content="Coldhak is a nonprofit dedicated to furthering privacy, security, and freedom of speech.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/ink-flex.min.css">
  <link rel="stylesheet" href="/assets/css/coldhak.css">

  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
</head>
<body>

  <div class="ch-topbar">
    <nav class="ink-navigation ink-grid">
      <ul class="ch-menu menu horizontal black push-left">
        <li class="ch-logo"><a href="/"><img src="/assets/img/snow.png"> coldhak</a></li>
      </ul>
      <ul class="menu horizontal black push-right">
        <li><a href="/relays">relays</a></li>
        <li><a href="/atlas_tools">atlas_tools</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </div>
